:root {
    --signature-color: rgb(0, 64, 255);
}
/* You can edit all the colors of the card here in one place! Change the colors to see how your card changes.


/* webpage visuals */

body {
    background-image: url(../images/bgimg.jpg);
    font-family:'Courier New', Courier, monospace
}


/* Copy and paste Line 21 into Line 15 to use the alternate font!
/*
font-family: "Chewy", system-ui;
*/

/* card design */

.card {
    width: 900px;
    height: 600px;
    background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 54%, rgba(200, 0, 255, 1) 100%);
    position: absolute;
    top: 75px;
    left: 400px;
    border-radius: 7px;
    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 28px 5px rgba(0,0,0,0); 
box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 28px 5px rgba(0,0,0,0);
}
/* This class allows you to mess with the characteristics of the "card" itself, from the size to where it is on the page. Mess around with the values to see what happens!*/

.stamp {
    position: absolute;
    top: 30px; 
    left: 730px;
}
/* This mainly is for the position of the stamp base. Change the values to see how it moves! */

.stamp-overlay {
    position: absolute;
    top: 39px; 
    left: 740px;
}
/* This mainly is for the position of the stamp image. Change the values to see how it moves! */

.header {
    background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(238, 174, 202, 1) 54%, rgba(148, 187, 233, 1) 100%);
    color: var(--text-color);
    margin: 0px;
    border-radius: 7px 7px 0px 0px;
    padding: 12px;
}
/* This is for the header's characteristics! */

.address {
    font-size: 1.5em;
    margin-left: 40px;
    margin-top: 30px;
    margin-right: 200px;
}

.text {
    padding: 12px;
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 200px;
    font-size: 1.3em;
}

.signature {
    text-align: right;
    color: var(--signature-color);
    margin-right: 100px;
    padding: 10px;
    font-size: 1.5em;
}


.signoff {
    text-align: right;
    margin-right: 300px;
    padding: 10px;
    font-size: 1.3rem;
}

.image2 {
    align-content: right;
}


/* BONUS: animations; take away the / and * to activate* */



.card:hover {
    background-image: url('../images/petalsfall.gif');
} 

.fadein {
    animation: fadeinbg 2s;
}

@keyframes fadeinbg {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

